.pt-extra {
	padding-top: 8rem;
}

.container-custom {
	width: 700px;
	height: auto;
	margin: auto;
}

.bg-navbar {
	background-color: var(--primary);
	color: var(--wite);
}

.bg-card {
	border: 1px dashed var(--primary);
	background-color: var(--lilac);
	color: var(--wite);
}

.bg-lilac {
	background-color: var(--lilac);
}
