/* .pt-extra {
	padding-top: 15rem;
} */

.pt-15 {
	padding-top: 15rem;
}

.bg-login {
	width: 100%;
	height: 100vh;
	background-image: url("../../assets/Theodora_bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	color: var(--white);
}

.form-container {
	width: 360px;
	height: 400px;
	margin: auto;

	background: rgba(169, 160, 160, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
